/* HERO START  */

.hero {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  padding-bottom: 100px;
  position: relative;
  z-index: -1;
  background-color: var(--clr-blackest);
}

.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(/public/home/desktop/image-hero.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
  opacity: 0.4;
  z-index: -1;
}

.hero-title {
  margin-top: 100px;
  text-align: center;
  color: var(--clr-light-gray);
  letter-spacing: 8px;
  text-transform: uppercase;
  font-size: var(--size-sm);
  font-weight: 200;
}

.hero-sub-title {
  color: var(--clr-white);
  text-transform: uppercase;
  text-align: center;
  max-width: 10ch;
  margin: auto;
  font-size: var(--size-3xl);
}
.hero-paragraph {
  color: var(--clr-white);
  font-size: var(--size-sm);
  font-weight: 100;
  text-align: center;
  max-width: 30ch;
  margin: auto;
}
.hero-content-box {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* product-types-two section start */
.product-types-two {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.product-types-two-orange-title {
  font-size: var(--size-4xl);
  padding-top: 250px;
  text-align: center;
  text-transform: uppercase;
  color: var(--clr-white);
  max-width: 15ch;
}
.product-types-two-orange-paragraph {
  text-align: center;
  max-width: 40ch;
  font-size: var(--size-xs);
  color: var(--clr-white);
  font-weight: 100;
  margin: auto;
}
.product-types-two-orange-box {
  border-radius: 10px;
  background-color: var(--clr-dark-human);
  display: flex;
  flex-direction: column;
  padding: 50px;
  position: relative;
  gap: 1rem;
  z-index: 1;
}

.product-types-two-orange-box::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(/public/home/desktop/image-speaker-zx9.png);
  background-size: 50%;
  background-position: center 50px;
  background-repeat: no-repeat;
  z-index: -1;
}

.product-circles {
  position: absolute;
  left: -100px;
  top: -100px;
  max-width: 480px;
}

.orange-button {
  background-color: var(--clr-blackest);
  width: 150px;
  margin: auto;
  padding: 10px;
  text-transform: uppercase;
  font-size: var(--size-sm);
  font-weight: 400;
  z-index: 1;
}
.orange-button a {
  color: var(--clr-white);
  text-decoration: none;
}
.orange-button:hover {
  background-color: #6b7280;
}

.product-types-two-sub-box-one {
  background-image: url(/public/home/mobile/image-speaker-zx7.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 270px;

  display: flex;
  flex-direction: column;
  border-radius: 10px;
  justify-content: center;
  gap: 1rem;
  padding: 10px;
}

.product-types-two-sub-title {
  font-size: var(--size-2xl);
  letter-spacing: 1px;

  text-transform: uppercase;
  color: var(--clr-blackest);
}

.product-types-two-sub-box-two {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.product-types-two-sub-box-two-content {
  background-color: var(--clr-light-gray-two);
  height: 170px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  padding: 10px;
}
.yx1-home-img {
  border-radius: 10px;
}
.yx1-home-img-tablet {
  border-radius: 10px;
  display: none;
}
.yx1-home-img-desktop {
  border-radius: 10px;
  display: none;
}
.orange-box-text-content {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}
.orange-button-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* xs */
@media (min-width: 475px) {
  /* hero start */
  .hero::before {
    background-size: 300%;
    background-position: right -230px top -60px;
  }
  .hero {
    padding-bottom: 240px;
  }
  .hero-title {
    margin-top: 150px;
    font-size: var(--size-base);
    letter-spacing: 10px;
  }

  .hero-sub-title {
    font-size: var(--size-5xl);
  }
  .hero-paragraph {
    font-size: var(--size-base);
  }

  /* products type 2 */
  .product-circles {
    position: absolute;
    left: -110px;
    top: -140px;
    max-width: 650px;
  }
  .product-types-two-orange-title {
    padding-top: 300px;
  }
  .product-types-two-sub-box-one {
    height: 420px;
  }
  .product-types-two-sub-box-two-content {
    height: 240px;
  }
}

/* Sm */
@media (min-width: 640px) {
  /* hero start */
  .hero::before {
    background-size: 300%;
    background-position: right -310px top -130px;
  }
  .hero {
    padding-bottom: 350px;
    gap: 2rem;
  }
  .hero-title {
    margin-top: 150px;
    font-size: var(--size-base);
    letter-spacing: 10px;
  }

  .hero-sub-title {
    font-size: var(--size-6xl);
  }

  /* prodcut type 2 section */
  .product-types-two-sub-box-one {
    height: 280px;
    background-image: url(/public/home/tablet/image-speaker-zx7.jpg);
  }

  .product-types-two-orange-box::before {
    background-size: 30%;
  }
  .product-circles {
    position: absolute;
    left: -50px;
    top: -160px;
    max-width: 700px;
  }
  .product-types-two-orange-title {
    font-size: var(--size-5xl);
    max-width: 9ch;
    margin: auto;
    padding-top: 250px;
  }
  .product-types-two-orange-paragraph {
    font-size: var(--size-sm);
  }
  .product-types-two-sub-box-two {
    display: flex;
    flex-direction: column;
  }

  .product-types-two-sub-box-two-content {
    padding: 30px;
  }

  .yx1-home-img {
    display: none;
  }
  .yx1-home-img-tablet {
    display: block;
    width: 300px;
    height: 240px;
  }
}

/* md */
@media (min-width: 768px) {
  /* hero start */

  .hero {
    flex-direction: row;
    padding-bottom: 480px;
  }
  .hero-title {
    margin-top: 190px;
    font-size: var(--size-sm);
    letter-spacing: 10px;
  }

  .hero-sub-title {
    font-size: var(--size-6xl);
  }
  .hero::before {
    background-size: 300%;
    background-position: right -370px top -180px;
  }

  /* product type 2 section */

  .product-types-two-sub-box-one {
    height: 340px;
  }

  .product-circles {
    left: -30px;
    top: -180px;
    max-width: 800px;
  }
  .product-types-two-orange-title {
    padding-top: 300px;
  }
  .product-types-two-orange-paragraph {
    font-size: var(--size-sm);
  }

  .product-types-two-sub-box-two-content {
    height: auto;
  }
  .yx1-home-img-tablet {
    width: 410px;
    height: 280px;
    object-fit: cover;
  }
}

/* Lg */
@media (min-width: 1024px) {
  /* hero start */
  .hero::before {
    background-size: 100%;
    background-position: right -40px top -100px;
  }
  .hero {
    justify-content: start;
    padding: 60px;
  }
  .hero-title {
    margin-top: 0px;
    text-align: start;
  }
  .hero-paragraph {
    text-align: start;
    margin: 0;
    max-width: 40ch;
  }

  .hero-sub-title {
    font-size: var(--size-6xl);
    text-align: start;
  }

  .hero-content-box {
    justify-content: start;
    align-items: start;
    gap: 1rem;
  }
  #hero-button {
    margin: 0;
  }

  /* prodcut type 2 section */
  .product-types-two-sub-box-one {
    height: 260px;
    background-image: url(/public/home/desktop/image-speaker-zx7.jpg);
    padding: 50px;
  }

  .product-types-two-orange-box::before {
    background-size: 30%;
    background-position: left 100px bottom -10px;
    z-index: 1;
  }
  .product-circles {
    left: -10px;
    top: 100px;
    max-width: 500px;
  }
  .product-types-two-orange-title {
    font-size: var(--size-6xl);
    text-align: start;
    padding-top: 0;
  }
  .product-types-two-orange-paragraph {
    font-size: var(--size-sm);
    text-align: start;
    max-width: 90ch;
  }
  .product-types-two-sub-box-two-content {
    padding: 60px;
    width: 100%;
  }
  .yx1-home-img-tablet {
    display: none;
  }
  .yx1-home-img-desktop {
    display: block;
    object-fit: cover;
    width: 600px;
  }
  .orange-box-text-content {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    margin-left: 400px;
    padding: 100px;
    gap: 1rem;
  }
  .product-types-two {
    padding: 60px;
  }
}

/* xL */
@media (min-width: 1280px) {
  /* hero start */
  .hero::before {
    background-size: 90%;
    background-position: right -40px top -120px;
  }

  /* prodcut type 2 section */
  .product-types-two-sub-box-one {
    height: 340px;
    padding: 50px;
  }

  .product-circles {
    left: -10px;
    top: -40px;
    max-width: 600px;
  }

  .orange-box-text-content {
    margin-left: 500px;
  }
  .yx1-home-img-desktop {
    width: 900px;
  }
}

/* 2xL */
@media (min-width: 1536px) {
  .hero::before {
    background-size: 75%;
    background-position: right 150px top -120px;
  }

  /* prodcut type 2 section */
  .product-types-two-sub-box-one {
    height: 410px;

    padding: 50px;
  }

  .product-circles {
    left: -10px;
    top: -40px;
    max-width: 600px;
  }

  .orange-box-text-content {
    margin-left: 800px;
  }
  .product-types-two-orange-box::before {
    background-position: left 100px bottom -20px;
  }
  .yx1-home-img-desktop {
    width: 1200px;
  }
}
